@custom-variant dark (&:where(.dark, .dark *));
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import "tailwindcss";


html, body {
  width: 100%;
  overflow-x: hidden;
}

/* Global Styles */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f8fafc;
  color: #1f2937;
}

/* Image */
img {
  display: block;
  max-width: 100%;
}

/* Link */
a {
  text-decoration: none;
}

/* Button */
button {
  cursor: pointer;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1d4ed8;
}

/* Navbar offset */

section {
  scroll-margin-top: 90px;
}